<div class="row">
 <div class="tableresponsive">
        <h2>Departments <a href="/departments/add" class="btn btn-success pull-right">Add New Department</a> </h2>
        <hr>
        <table class = "table" width="100%">
            <thead>
                <tr>
                    <td>Department Number</td>
                    <td>Department Name</td>
                </tr>
            </thead>
        {{#each data}}
        <tbody>
            <tr>
                <td><a  href="/employees?/department={{departmentId}}">{{departmentId}}</a></td>
                <td><a  href="department/{{departmentId}}">{{departmentName}}</a></td>
            </tr>
        </tbody>
        {{else}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
        {{/each}}
        </table>
 </div>
</div>